

.modal{
    margin: 0 auto;
    height: 90%;
    top: 5%;

    //width: 50%;
    //left: 15%;
    .modal-content{
    
    padding: 30px;
    img{
        //margin: 50px auto;
        width: 100%;
        //border: 1px solid grey;
    }

    }
    
}

#marketAveCarousel{
    //background-color: rgba($color: #000000, $alpha: 0.3);
    /* CAROUSEL GLOBALS */
    height: fit-content;
    ol{
        //border: blueviolet 2px solid;
        margin-bottom: 0;
    }

    a{
        
        color: blue;
    }
    /* CAROUSEL CONTENT  */
    .carousel-inner{
        //border: 2px solid greenyellow;  
        height: fit-content;      
        .carousel-item{
            //border: orangered solid 3px;
            height: fit-content;
            .container-fluid{
                //border: blue solid 5px;
                .row{
                //border: lightcoral 8px solid;
                display: flex;
                align-items: center;
                div{
                    //border: lightseagreen 3px solid;
                    width: 100%;
                    height: 100%;
                    img{
                        height: 100%;
                        //border: magenta 2px solid ;
                    }       
                    #api-image{
                        height: 100%;
                    }
                }
                
                
                
                /* MEDIA 800px */
                @media screen and (max-width: 800px) {
                flex-direction: column;
                align-items: center;
                div {
                //border: indigo 3px solid;
                width: 100%; 
                
                }
            
                }/* END MEDIA 800px  */
                } /* END ROW */
            } /* END CONTAINER-FLUID */

        }


    }

    


/* CAROUSEL BOTTOM CONTROLS */
    .indicators-container{
        margin-top: 50px;
        height: 50px;
        //border: 2px solid red;
        .carousel-indicators li{
            background-color: blue;
            height: 4px;
            
        }
    }
    
    
    .control-a-tag{
        //border: 2px solid red;
        width: 5%;   
        
        .control{
            background-color: blue;
            height: 30px;
            width: 30px;        
            border-radius: 100%;
        }


    }

    /* .carousel-caption{
        color: white;
        
        background-color: rgba($color: #000000, $alpha: .6);
        margin-top: 100px;
    } */

    /* .modal-profile-content{
        p{
            width: 50%;
            padding: 10px;
        }
        display: flex;
    } */
}