.modal{
    margin: 0 auto;
    height: 90%;
    top: 5%;

    //width: 50%;
    //left: 15%;
    .modal-content{
    
    padding: 30px;
    img{
        //margin: 50px auto;
        width: 100%;
    }

    }
    
}