.projects-container{
    //border: 2px solid red;
    margin-bottom: 50px;
}

.labs-container{
    //height: 200px;
    //border: 2px solid red;
    
    article{
        width: 100%;
        margin: 0 auto;        
    }
    
    p{
        padding: 10px;
        width: 70%;
        margin: 20px auto;
        text-align: center;
    }
    h2{
        //border: 2px solid blue;
        margin: 20px auto;
    }
    a{
        //border: 2px solid red;
        margin-top: 10px;
        
    }
    img{
        width: 100%;
        margin: 20px auto;
        
    }
}

.build-week-container{
    img{
        width: 90%;
        margin: auto;
    }
}