#portfolio{
    //border: 5px solid lime;
    
    
}

.project-container{
    //border: 2px solid red;
    margin-bottom: 50px;
    text-align: center;
    //height: fit-content;
    h2{
        border-bottom: 1.5px solid rgba(209, 203, 203, 0.993);
        padding: 20px;
        width: 75%;
        margin: 20px auto;
    }
    .projects-row{
        height: fit-content;
        //border: 3px solid blue;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        /* column div */
        .first-level-col{        
            //border: greenyellow 2px solid;
            margin: 10px auto;
            article{
                //border: 2px solid blueviolet;
                padding: 40px;
                p{
                    //border: solid 2px black;
                    //padding: 10px;

                    width: 50%;
                    margin: 20px auto;
                    //text-align: center;            
                }
                header{   
                    //border: 2px orange solid;                 
                    
                    .project-links{
                        display: flex;
                        justify-content: space-evenly;
                        width: 100%;
                        //border: orchid solid 2px;
                        
                        text-align: center;  
                    }
                }
                .inner-content-row{
                    .second-level-col{
                        
                        .project-image{
                            width: 90%;
                            //margin: 30px auto;
                            cursor: pointer;
                            box-shadow: 0;
                            transition: box-shadow .7s;
                            
                            &:hover{
                                //border: lightgray 2px solid;
                                -webkit-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
                                -moz-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
                                box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
                                
                            }
                        }

                        .skill-logo{
                            font-size: 60px;
                            margin: 25px
                        }

                        .technologies-li{
                            border: greenyellow 2px solid;
                            margin-top: 20px;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
                
                
                
                
                

                ul{
                    list-style: none;
                    //text-align: left;
                    margin: 30px auto;
                    //border: 2px solid green;
                    padding-left: 0;
                    li{
                        
                        text-align: left;
                        //border: hotpink 2px solid;
                        margin-bottom: 10px;
                        padding: 0;
                        p{
                            //border: indianred 1px solid;
                            width: 100%;
                            margin: 0 auto;
                        }
                    }
                    
                }
                button{
                    margin: 20px 0;
                }

            }   
        }
    }


    .labs-links{
        //border: blue 2px solid;
        width: fit-content;
        text-align: left;
        i{
            font-size: 1.5rem;
            margin: 10px 5px;
        }
        a{
            margin: 20px;
        }
        
    }

    /* article{
        width: 100%;
        height: 100%;
        background: white;
        margin: auto;
        padding: 15px;
        
        //border: solid 3px orange;
    } */
    
}

/* .labs-container{
    //height: 200px;
    //border: 2px solid red;
    
    article{
        width: 100%;
        margin: 0 auto;        
    }
    
    
    h2{
        //border: 2px solid blue;
        margin: 20px auto;
    }
    a{
        //border: 2px solid red;
        margin-top: 10px;
        
    }
    img{
        width: 100%;
        margin: 20px auto;
        
    }
} */



