#skills{
    //border: 5px solid blue;
    
    .container{
        //border: greenyellow 3px solid;
        .content-wrapper{
            //border: hotpink 3px solid;
            div{
                #function-h3{
                    width: 20%;
                    @media screen and (max-width: 800px) {
                        width: 30%;
                    }
                }
                h3{
                    border-bottom: 1.5px solid rgba(209, 203, 203, 0.993);
                    padding: 5px;
                    
                    width: 30%;
                    margin: 0px auto;
                    
                    margin-bottom: 40px;
                    
                }
                //border: indigo 2px solid;
                section{
                    //border: aquamarine 2px solid;
                    height: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    .skill-logo{
                        font-size: 150px;
                    }
                    @media screen and (max-width: 800px) {
                        .skill-logo{
                            font-size: 80px;
                        }
                        
                    }
                }
            }
        }
    }
}
  

#function-section{
    //border: solid 4px indianred;
    
    #function-inner{
        //border: rebeccapurple solid 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        
        @media screen and (max-width: 800px) {
            //flex-direction: column;
            //align-items: center;
            .skill-logo{
                font-size: 50px;
            }
        }
        div{
            display: flex;
            flex-direction: column;
        }
       
    }
    

    
    
}

#node-express{
    //border: 2px solid blue;
    width: fit-content;
}

#python-django{
//border: lime 2px solid;
width: fit-content;

}
#mongo-mongoose{
    width: fit-content; 
    //border: 2px solid red; 
    //margin: auto;
}
#mongoose{
    
    font-size: 30px;
    font-weight: 100;
    text-indent: -2px;
    letter-spacing: -4px;
    color: #800;
}


#python{
    color: #3975A5;
}
#django{
    color: forestgreen;
}

#node{
    color: lime;
}

#jinja{    
    width: 100px;
}

#cloudinary{
    width: 150px;
}
    
#digital-ocean{
    width: 100px;
}

#react-router{
    width: 150px;
}

#styled-components{
    width: 100px;
}

#react p{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#axios{
    font-size: 20px;
}