#work{
    //border: 5px solid blue;
    
    
}

#skills{
    i{
        font-size: 150px;
    }
    @media screen and (max-width: 800px) {
        i{
            font-size: 50px;
        }
        
    }

    #node{
        color: lime;
    }

    .function-section{
        .function-inner{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            @media screen and (max-width: 800px) {
                //flex-direction: column;
                //align-items: center;
                
            }
            div{
                display: flex;
                flex-direction: column;
            }
            #mongoose{
                font-size: 30px;
            }
        }
        

        #node-express{
            //border: 2px solid blue;
            width: fit-content;
        }

        #python-django{
        //border: lime 2px solid;
        width: fit-content;

        }
        #mongo-mongoose{
            width: fit-content; 
            //border: 2px solid red; 
            //margin: auto;
        }
        #mongoose{
            margin-top: 25%;
            font-size: 50px;
            font-weight: 100;
            text-indent: -2px;
            letter-spacing: -4px;
            color: #800;
        }
        #python{
            color: #3975A5;
        }
        #django{
            color: forestgreen;
        }
    }

    .content-wrapper{
        //border: 2px solid red;
        margin: 10px auto;
    }
}