.project-container {
  margin-bottom: 50px;
  text-align: center;
  /* article{
        width: 100%;
        height: 100%;
        background: white;
        margin: auto;
        padding: 15px;
        
        //border: solid 3px orange;
    } */
}

.project-container h2 {
  border-bottom: 1.5px solid rgba(209, 203, 203, 0.993);
  padding: 20px;
  width: 75%;
  margin: 20px auto;
}

.project-container .projects-row {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* column div */
}

.project-container .projects-row .first-level-col {
  margin: 10px auto;
}

.project-container .projects-row .first-level-col article {
  padding: 40px;
}

.project-container .projects-row .first-level-col article p {
  width: 50%;
  margin: 20px auto;
}

.project-container .projects-row .first-level-col article header .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.project-container .projects-row .first-level-col article .inner-content-row .second-level-col .project-image {
  width: 90%;
  cursor: pointer;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-transition: -webkit-box-shadow .7s;
  transition: -webkit-box-shadow .7s;
  transition: box-shadow .7s;
  transition: box-shadow .7s, -webkit-box-shadow .7s;
}

.project-container .projects-row .first-level-col article .inner-content-row .second-level-col .project-image:hover {
  -webkit-box-shadow: -1px 2px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 11px 0px rgba(0, 0, 0, 0.75);
}

.project-container .projects-row .first-level-col article .inner-content-row .second-level-col .skill-logo {
  font-size: 60px;
  margin: 25px;
}

.project-container .projects-row .first-level-col article .inner-content-row .second-level-col .technologies-li {
  border: greenyellow 2px solid;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .projects-row .first-level-col article ul {
  list-style: none;
  margin: 30px auto;
  padding-left: 0;
}

.project-container .projects-row .first-level-col article ul li {
  text-align: left;
  margin-bottom: 10px;
  padding: 0;
}

.project-container .projects-row .first-level-col article ul li p {
  width: 100%;
  margin: 0 auto;
}

.project-container .projects-row .first-level-col article button {
  margin: 20px 0;
}

.project-container .labs-links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
}

.project-container .labs-links i {
  font-size: 1.5rem;
  margin: 10px 5px;
}

.project-container .labs-links a {
  margin: 20px;
}

/* .labs-container{
    //height: 200px;
    //border: 2px solid red;
    
    article{
        width: 100%;
        margin: 0 auto;        
    }
    
    
    h2{
        //border: 2px solid blue;
        margin: 20px auto;
    }
    a{
        //border: 2px solid red;
        margin-top: 10px;
        
    }
    img{
        width: 100%;
        margin: 20px auto;
        
    }
} */
/*# sourceMappingURL=portfolio.css.map */